<div class="{{bgColorClass}} color-white padding-1em width-xs-9 width-sm-9 width-md-10 width-lg-4 width-xl-4">
    <h3 class="padding-bottom-1em text-center">{{ coloredBoxBlurbTitle }}</h3>
    {% block coloredBoxContent %}{% endblock %}
</div>