{% set coloredBoxBlurbTitle = "Why a zine?" %}
{% set bgColorClass = "bg-color-black" %}
{% extends "./coloredBox.njk" %}
{% block coloredBoxContent %}
<div>
    <p>Papers and talks don't work for everyone. Some topics might be clearer in the form of a game or a playful experience. There isn't one best way to talk about public health. Games can be great, active tools in the right context.</p>
</div>
{% endblock %}