{% set blurbTitle = "Interaction and Fun:" %}
{% set bgColorClass = "bg-blue-gradient-right" %}
{% extends "./pageIntroSection.njk" %}
{% block description %}
    <p>HER tools and games create active experiences to help understand complex concepts in public health.</p>
{% endblock %}