{% set blurbTitle = "Workshops" %}
{% set bgColorClass = "bg-color-pink" %}
{% set imgPath = "images/workshop.jpg" %}
{% extends "./parallelogram.njk" %}
{% block description %}
<div> 
    <p class="font-weight-700 padding-1em">What if health research had new values at the center? What if health communication focused on bringing out new emotions?</p>
    <p>HER workshops' aim is to discuss public health topics with students and researchers using arts and humanities.</p><p><a href="/pages/workshops">Learn more about HER Workshops.</a></p>
</div>
{% endblock %}