{% set coloredBoxBlurbTitle = 'Why "Rituals"?' %}
{% set bgColorClass = "bg-color-black" %}
{% extends "./coloredBox.njk" %}
{% block coloredBoxContent %}
<div>
    <p class="font-weight-700 padding-1em">There are a lot of routines in public health.</p>
    <p>Someone plays the role of the expert. Someone plays the patient. These routines are taken for granted as good ways to spread health info. The spread of health info is taken for granted as the main goal of communication. The word "rituals" points out how these routines put people into roles with certain expectations. It's possible to change these rituals, and thus change expectations.</p>
</div>
{% endblock %}