{% set sectionTitle = "Projects:" %}
{% extends "./pageSection.njk" %}

{% block sectionContent %}
    {% include "./homepageParallelogramArts.njk" %}
    {% include "./homepageParallelogramGames.njk" %}
    {% include "./homepageParallelogramWorkshops.njk" %}
    {% include "./homepageParallelogramZine.njk" %}
{% endblock %}