{% set blurbTitle = "Arts" %}
{% set bgColorClass = "bg-color-white" %}
{% set imgPath = "/images/games.png" %}
{% extends "./parallelogram.njk" %}
{% block description %}
<div>
    <p class="font-weight-700 padding-1em">What if health communication focused on vibes and feelings?</p>
    <p>These multimedia projects explore the emotional impact of public health issues.</p>
    <p><a href="/pages/arts">Learn more about HER Arts.</a></p>
</div>
{% endblock %}