{% set blurbTitle = "Games & Tools" %}
{% set bgColorClass = "bg-color-blue" %}
{% set imgPath = "/images/games.png" %}
{% extends "./parallelogram.njk" %}
{% block description %}
<div>
    <p class="font-weight-700 padding-1em">What if meetings and trainings were fun and immersive?</p>
    <p>Whether a playful evaluation tool or an educational board game, these Tools and Games encourage understanding through active participation.</p>
    <p><a href="/pages/games">Learn more about HER Tools and Games.</a></p>
</div>
{% endblock %}