{% set blurbTitle = "It's not just what you say..." %}
{% set bgColorClass = "bg-image-gradient" %}
{% extends "./pageIntroSection.njk" %}
{% block description %}
<p>...it's how you say it. HER Communication is a project by <a href="https://www.samuelanimates.com">Samuel R. Mendez</a>. It's a series of experiments in health communication for health equity. Its aim is to help improve peoples' relationships to health science. Its aim is to help improve health researchers' relationships with more communities.</p>
{% endblock %}