{% set blurbTitle = "Zine" %}
{% set bgColorClass = "bg-color-yellow" %}
{% set imgPath = "/images/zine.jpg" %}
{% extends "./parallelogram.njk" %}
{% block description %}
<div>
    <p class="font-weight-700 padding-1em">What if health communication flowed in multiple directions?</P>
    <p>Through this zine, we encourage two-way learning in academic settings. We highlight voices from underrepresented communities in health & science fields. We teach professionals in such settings to learn from these voices.</p><p><a href="/pages/zine">Learn more about HER Zine.</a></p>
</div>
{% endblock %}