{% set coloredBoxBlurbTitle = 'Why "Health Equity"?' %}
{% set bgColorClass = "bg-color-black" %}
{% extends "./coloredBox.njk" %}
{% block coloredBoxContent %}
<div>
    <p class="font-weight-700 padding-1em">Everyone should have the chance to be healthy.</p>
    <p>But we know that isn't reality yet. And we know it's not so easy to fix that. Many people don't trust the medical system. Many people aren't represented in health research. Many researchers don't have strong relationships with the communities their work impacts. New ways of coming together around public health can help.</p>
</div>
{% endblock %}