<section class="{{bgColorClass}} display-flex justify-content-flex-end padding-bottom-2em padding-top-1em">
    <div class="padding-right-2em width-xs-10 width-sm-10 width-md-8 width-lg-8 width-xl-6">
        <div class="bg-color-yellow border-right-black-2px box-shadow-lower padding-p5em transform-skewx-5deg">
            <div class="padding-1em transform-skewx-neg5deg">
                <h2 class="text-center">{{blurbTitle}}</h2>
                {% block description %}{% endblock %}
            </div>
        </div>
    </div>
</section>