<section class="padding-bottom-2em padding-top-1em">
    <div class="display-flex justify-content-center padding-1em text-center width-100pc">
        <h2 class="bg-yellow-gradient border-bottom-black-4px width-xs-9 width-sm-8 width-md-6 width-lg-4 width-xl-3">{{sectionTitle}}</h2>
    </div>
    <div class="align-items-stretch display-flex flex-wrap justify-content-center padding-top-1em ">
        {% block sectionContent%}{% endblock %}
    </div>
</section>