{% set blurbTitle = "What will it take to reach health equity? What will we do next?" %}
{% set bgColorClass = "bg-pink-gradient-right" %}
{% extends "./pageIntroSection.njk" %}
{% block description %}
<p>These workshops help participants explore health equity. They experiment with moods and formats. They focus on arts, media, and self-reflection.</p>
{% endblock %}