{% set sectionTitle = "Workshop Guides" %}
{% extends "./pageSection.njk" %}
{% block sectionContent %}
    {% include "./workshops/workshop01.njk" %}
    {% include "./workshops/workshop02.njk" %}
{% endblock %}