{% set blurbTitle = "Two-way Learning:" %}
{% set bgColorClass = "bg-yellow-gradient-right" %}
{% extends "./pageIntroSection.njk" %}
{% block description %}
<p>The HER Communication Zine doesn't aim to give anyone a voice. Why? People already have their own voices. Instead, it aims to teach health researchers and medical professionals to listen to underrepresented voices.</p>
<p class="text-center">See the <a src="https://hercommunication.pubpub.org/">HER Communication Zine online</a>.</p>
{% endblock %}