{% set coloredBoxBlurbTitle = "Why a zine?" %}
{% set bgColorClass = "bg-color-black" %}
{% extends "./coloredBox.njk" %}
{% block coloredBoxContent %}
<div>
    <p>The HER Communication Zine brings together voices and perspectives from communities underrepresented in health research. Then, we run workshops and journal clubs with the zine for researchers.</p>
    <p>The aim of this work is not to "give a voice to" or "empower" anyone. Rather, it's to teach people in the health field to learn from outside perspectives.</p>
</div>
{% endblock %}