{% set blurbTitle = "Issue 1: A People's Guide to Precision Medicine." %}
{% set bgColorClass = "bg-color-yellow" %}
{% set imgPath = "../../images/zine.jpg" %}
{% extends "../parallelogram.njk" %}
{% block description %}
    <div>
        <p class="font-weight-700 padding-1em">Precision medicine promises better health care and bigger data.</p>
        <p>But what do these promises look like from viewpoints underrepresented in health research?</p>
        <p><a href="https://hercommunication.pubpub.org/issue-1">Read Issue 1: A People's Guide to Precision Medicine</a>.</p>
    </div>
{% endblock %}