---
layout: layouts/baseLayout.liquid
logoURL: /images/spiral.gif
---
<div class="margin-auto padding-top-5em">
    <p class="text-align-center">
        There exist parallel realities,</br>
        And parallel worlds,</br>
        At home within our own.</br>
        A paradox that threatens space, time,</br>
        And life as we know it.
    </p>
    <p class="padding-top-2p5em text-align-center">
        You can dissect it, measure it,</br>
        write about it, and discuss it.</br>
        You might even try to deny it,</br>
        Or ingore it.
    </p>
</div>
<div class="align-items-center display-flex flex-wrap justify-content-center padding-top-5em width-100pc">
    <img class="max-width-100pc width-xs-12 width-sm-6 width-md-6 width-lg-6 width-xl-4" src="../images/eclipse.png"/>
    <p class="padding-1-em text-align-left width-xs-10 width-sm-8 width-md-4 width-lg-4 width-xl-4">
        But, no, you will never make sense of it.</br>
        Because it shouldn't exist.
    </p>
</div>
<div class="align-items-center display-flex flex-wrap justify-content-center padding-top-5em width-100pc">
    <p class="padding-1-em text-align-right width-xs-10 width-sm-4 width-md-4 width-lg-4 width-xl-6">
        And, no, you can't just ignore it.</br>
        Because such deeply conflicting realities won't hold together for long.
    </p>
    <img class="max-width-100pc width-xs-12 width-sm-6 width-md-6 width-lg-6 width-xl-4" src="../images/earthrise.png"/>
</div>
<div>
    <h2 class="text-align-center">So... what is there to do?</h2>
</div>
