{% extends "./workshopContainer.njk" %}
{% set bgcolorclass = "bg-color-yellow" %}
{% set alttext = "workshop thumbnail" %}
{% set title ="Precision Medicine: TLDR"%}
{% set imagesrc ="../../images/pmtldr.svg"%}
{% block content %}
    <p>text</p>
{% endblock %}
{% block linkurl %}
    <a href="">Link</a>
{% endblock %}