{% set blurbTitle = "UNFUNDABLE" %}
{% set bgColorClass = "bg-color-pink" %}
{% set imgPath = "../../images/unfundableLogo.svg" %}
{% extends "../parallelogram.njk" %}
{% block description %}
    <div>
        <p class="font-weight-700 text-center">Welcome to the collaborative yet competitive world of academic health research!</p>
        <p>You’re all colleagues at the same university. You each head your own lab. You only have so much time to prove yourself by publishing papers about your research. But to do that, you need research funding in the form of grants. It’s time to get grants, publish papers, and accomplish your personal goals!</p>
        <p><a href="https://unfundable.fun">Visit the UNFUNDABLE board game website</a>.</p>
    </div>
{% endblock %}